body{
    color: red;
    background-color: blue;
    display: block;
    text-align: center;
  }
  
  output{
    display: block; 
    color: blue;
    padding-top: 35px;
    font: 100px;
  }
  
  form{
    color: red;
    background-color: black
  }